<li><% c = Collaborator.where(:user_id => current_user.id, :mission_id => constraint.mission_id).first %>
    <% if (c.permission == 'creator' || c.permission == 'admin') || constraint.user_id == current_user.id then %>
    <%= link_to 'del', [constraint.mission, constraint],
               :confirm => 'Are you sure?',
               :method => :delete %> | <%= constraint.name %></li>
    <% else %>
    <font color = "#FFA500"><%= User.find(constraint.user_id).name[0..4] %></font>: <%= constraint.name %>
    <% end %>              
               

