<li><% c = Collaborator.where(:user_id => current_user.id, :mission_id => assumption.mission_id).first %>
    <% if (c.permission == 'creator' || c.permission == 'admin') || assumption.user_id == current_user.id then %>
    <%= link_to 'del', [assumption.mission, assumption],
               :confirm => 'Are you sure?',
               :method => :delete %> | <%= assumption.name %></li>
    <% else %>
    <font color = "#FFA500"><%= User.find(assumption.user_id).name[0..4] %></font>: <%= assumption.name %>
    <% end %>              
               

