<%= form_for([@mission, @mission.collaborators.build]) do |f| %>
<div class="field">
    <% if users then %>
    <ul >
        <% @users.each do |user| %>
        <li>
            <%= check_box_tag "mission[user_ids][]", user.id, false  %>
            <%= label_tag(:name, user.name) %>
        </li>
        <% end %>
    </ul>
    <% end %>
    Enter emails here. e.g. friend@example.com, buddy@gmail.com, etc.<br>
    <%= f.text_field :email_list, :size => 65, :value => ' '  %>
    <class="actions">
        <br><%= f.submit "Invite collaborators" %>
    </div>
<% end %>



