<li><% c = Collaborator.where(:user_id => current_user.id, :mission_id => fact.mission_id).first %>
    <% if (c.permission == 'creator' || c.permission == 'admin') || fact.user_id == current_user.id then %>
    <%= link_to 'del', [fact.mission, fact],
               :confirm => 'Are you sure?',
               :method => :delete %> | <%= fact.name %></li>
    <% else %>
    <font color = "#FFA500"><%= User.find(fact.user_id).name[0..4] %></font>: <%= fact.name %>
    <% end %>              
               

