<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body>
    <p>Hi <%= @user.name %>,</p>
    <p>
      <%= @inviting_user.name %> invited you to collaborate to use Wild Success on a mission called:<br>
      <b><%= @mission.name %></b>.
<br/>
    </p>
    <p>
      See your invitation: <%= link_to "Invitation", url_for( :controller => "home", :action => "index", :only_path => false ) %>
    </p>
    <p>Enjoy your collaboration!</p>
    <p></p>
    <p>--The Wild Success team
  </body>
</html>

