<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body>
    <p>
   Hi <%= @sender.name %>, <br>
   <%= @invitee.name %> accepted your invitation to collaborate on: <br>
    <b><%= @mission.name %></b>
<br/>
    </p>
    <p>
      <%= link_to "Start collaborating:  " + @mission.name, url_for( mission_stickies_path(@mission, :kind => 'success', :only_path => false)) %>
    </p>
    <p>Enjoy your collaboration!</p>
  </body>
</html>

