<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body>
    <p>
   <%= @user.name %> has invited you to help plan for Wild Success on a mission code-named:<br>
    <b><%= @mission.name %></b>
<br/>
    </p>
    <p>
      <%= link_to "Start collaborating on " + @mission.name, url_for(:host => "localhost:3000", :controller => "invitations", :action => "accept", :token => @invitation.token) %>
    </p>
    <p>Enjoy your collaboration!</p>
  </body>
</html>
