<li><% c = Collaborator.where(:user_id => current_user.id, :mission_id => driver.mission_id).first %>
    <% if (c.permission == 'creator' || c.permission == 'admin') || driver.user_id == current_user.id then %>
    <%= link_to 'del', [driver.mission, driver],
               :confirm => 'Are you sure?',
               :method => :delete %> | <%= driver.name %></li>
    <% else %>
    <font color = "#FFA500"><%= User.find(driver.user_id).name[0..4] %></font>: <%= driver.name %>
    <% end %>              
               

